<section>
  <div class=".container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4" style="float: left;"><app-buttons></app-buttons></div>
        <div class="col-md-4" style="float: left;"><tetris-core></tetris-core></div>
        <div class="col-md-4" style="float: left;"><app-buttons-right></app-buttons-right></div>
      </div>
    </div>
  </div>
</section>
