<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</header>

<app-intro-page
  *ngIf="view == 'intro-page'"
  (startEvent)="onGameStart($event)"
></app-intro-page>

<app-core-game
  *ngIf="view == 'core-game'"
  (exitEvent)="onGameExit()"
  [person]="person"
></app-core-game>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>
          Created by Paweł Domurat © 2021. Wykorzystano bibiotekę
          <a href="https://www.npmjs.com/package/ngx-tetris">ngx-tetris</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
